:root {
  --primary-text-color: 757575;
  --title-text-color: 212121;
  --accent-color: 2196f3;
  --primery-white-color: #ffffff;
}
body {
  font-family: Roboto,
    Weight 400 Size 14px Line height 1.4 color var(--title-text-color);
}
.link {
  font-family: Roboto Font-style Medium Font-size 14px Line-height 1.14 color
    var(--title-text-color);
  background-color: var(--title-text-color);
}
